$FontPathOpenSans: "fonts/open-sans";
@import "../../../../../../node_modules/npm-font-open-sans/open-sans.scss";
$font-open-sans: 'Open Sans', sans-serif;

$color-transperant-white: rgba(255, 255, 255, 0.9);
$color-box-shadow-black: rgba(black, 0.16);
$color-light-grey: rgb(220, 220, 220);
$color-grey: rgb(125, 125, 125);
$space-vertical: .5em;
$box-shadow: 0 0 16px $color-box-shadow-black;

.horizon-image-text-2x {
  height: 100%;
  width: 100%;
  text-align: left;
  font-family: $font-open-sans;
  padding: 0;
  color: black;

  /* Bootstrap - modified to use % instead of px */

  h1, h2, p {
    padding: 0;
    margin: 0;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  .row {
    width: 100%;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.7%;
    margin-left: -0.7%;
  }

  .col {
    position: relative;
    min-height: 1px;
    padding-right: 0.7%;
    padding-left: 0.7%;
  }

  .col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .img-fluid {
    max-width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
  }

  .container-fluid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0.7%;
    padding-left: 0.7%;
  }

  .w-100 {
    width: 100% !important;
  }

  /* Bootstrap end */

  .col {
    max-width: 50%;
    margin: 0;
    padding: 0;
  }

  .img-fluid {
    height: 100%;
    width: 100%;
  }

  .container-fluid {
    height: 100%;
    .col {
      padding-left: 0;
      padding-right: 0;
      &.image {
        z-index: 1;
        position: relative;
        .arrow {
          position: absolute;
          &-up {
            bottom: 0;
          }
          &-down {
            top: 0;
          }
        }
      }
      &.text {
        z-index: 2;
        background: #fff;

        .subject {
          padding-top: 1.2%;
          margin: 0 4.2%;
        }
        .line {
          width: 7%;
          height: 2%;
          background-color: #ccc;
          display: block;
          margin: 1.5% 0 0 4.2%;
        }
        .description {
          padding-top: 1.5%;
          padding-bottom: 1.5%;
          margin: 1% 4.2% 0 4.2%;
        }
      }
    }
  }
  .logo {
    height: 6%;
    width: auto;
  }

  .container-background {
    background-color: $color-transperant-white;
    box-shadow: 0 0 16px $color-box-shadow-black;
    z-index: 2;
    position: relative;
    padding: 1rem;
  }
  .lead {
    font-size: 1rem;
    margin-bottom: $space-vertical;
  }

  .logo {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    z-index: 3;
  }

  .subject {
    h1 {
      font-size: 2rem;
      font-weight: bold;
      line-height: 2rem;
      height: 6rem;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 1;
    }
  }
  .time, .location, .description {
    p {
      font-size: 1rem;
      margin-top: $space-vertical;
    }
  }
  .description {
    p {
      line-height: 1.2rem;
      height: 3.6rem;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 3;
    }
  }
}
