// Open sans font
$FontPathOpenSans: "fonts/open-sans";
@import "../../../../../../node_modules/npm-font-open-sans/open-sans.scss";

$font-open-sans: 'Open Sans', sans-serif;
$color-transperant-white: rgba(255, 255, 255, 0.9);
$color-box-shadow-black: rgba(black, 0.16);
// Space
$space-vertical: .5em;

// Shadow
$box-shadow: 0 0 16px $color-box-shadow-black;

.create-slide--editing-template {
  overflow: hidden;
}

.horizon-image-text {
  height: 100%;
  width: 100%;
  text-align: left;

  h1, h2, p {
    padding: 0;
    margin: 0;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box; }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.7%;
    margin-left: -0.7%; }

  .col {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 0.7%;
    padding-left:  0.7%; }

  .col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }

  .img-fluid {
    max-width: 100%;
    height: auto; }

  .container-fluid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0.7%;
    padding-left: 0.7%;
  }

  font-family: $font-open-sans;
  padding: 0;
  color: black;

  .bg-image {
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    background-position: top center;
    background-size: cover;
    filter: blur(5px);
    z-index: 0;
  }

  .img-fluid {
    width: 100%;
  }

  .blur {
    filter: blur(5px);
  }

  .container-fluid {
    z-index: 1;
    position: relative;
    padding: 2.5% 11%;
    height: 100%;

    .row {
      position: relative;
      .col {
        padding-left: 0;
        padding-right: 0;
      }
      &.image{
        z-index: 1;
        .arrow {
          width: 100%;
          position: absolute;
          &-up {
            bottom: 8.9%;
          }
        }
      }
      &.text{
        position: relative;
        bottom: 7.8%;
        z-index: 1;
        background: #fff;

        .subject {
          padding-top: 1.2%;
          margin: 0 4.2%;

          h1 {
            height: auto;
          }
        }
        .description {
          // p {
          //     font-size: 2.2vmin;
          // }
        }
        .line {
          width: 7%;
          height: .5%;
          background-color: #ccc;
          display: block;
          margin: 1% 0 0 4.2%;
        }
        .description {
          padding-top: 1.5%;
          padding-bottom: 1.5%;
          margin: 1% 0 0 4.2%;
        }
      }
    }
  }
  .logo {
    height: 6%;
    width: auto;
  }

  .container-background {
    background-color: $color-transperant-white;
    box-shadow: 0 0 16px $color-box-shadow-black;
    z-index: 1;
    position: relative;
    padding: 1em;
  }
  .lead {
    font-size: 1em;
    margin-bottom: $space-vertical;
  }
  .logo {
    position: absolute;
    bottom: 1.5em;
    right: 1.5em;
    z-index: 2;
  }
  .subject {
    h1 {
      font-size: 2em;
      font-weight: bold;
      line-height: 2em;
      height: 6em;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 1;
    }
  }
  .time, .location, .description {
    p {
      font-size: 1em;
      margin-top: $space-vertical;
    }
  }
  .description {
    p {
      line-height: 1.2em;
      height: 3.6em;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 3;
    }
  }
}
